body {
    background-color: hsl(217, 54%, 11%);
    box-sizing: border-box;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;

}

h1{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    text-align: left;
    margin: 0 auto;

}



.container {
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    margin: 60px 0;
    width: 18%;
    text-align: center;
    padding: 20px;
    overflow: hiddden;
    
}
.main-img {
    height: 50%;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;

}

.description {
    text-align: left;
    font-size: 14px;
    margin-bottom: 25px;
    color:  hsl(215, 51%, 70%);
}

.container-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
 .icons {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 6px;
 }

 .eth-txt {
    color: hsl(178, 100%, 50%);
    font-size: 12px;
 }
.time-txt {
    color: hsl(215, 51%, 70%);
    font-size: 12px;
}
 hr {
    border-bottom: none;
    border-top: 0.1px solid #8bacda;;
    margin: 15px 0;
 }

 .creation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    text-align: left;
    margin-bottom: 20px;

 }
 .creation p span {
    color: hsl(215, 52%, 70%);
 }

 .avatar {
    width: 10%;
    height: auto;
 }